<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ứng Dụng Bán Hàng Linh Kiện Máy Tính</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Login.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Cửa Hàng Linh Kiện", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse">
                <ul class="nav">
                    @if (Session["TaiKhoan"] != null)
                    {
                        <li>@Html.ActionLink("Quản Trị", "Index", "QUAN_TRI")</li>
                        <li>@Html.ActionLink("Sản Phẩm", "Index", "SAN_PHAM")</li>
                        
                    }
                </ul>
                <ul class="navbar-right">
                    @if (Session["TaiKhoan"] != null)
                    {
                        <li>@Html.ActionLink("Đăng Xuất", "Logout", "QUAN_TRI")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Đăng Nhập", "Login", "QUAN_TRI")</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <!-- Render nội dung của từng view tại đây -->
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="#">Ứng Dụng Bán Hàng Linh Kiện Máy Tính</a>. All rights reserved.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
