@model LEVINHHUY_K22CNT1_2210900106_PROJECT2.Models.LoginModel

@{
    ViewBag.Title = "Đăng Nhập";
}

<!-- Link đến file CSS -->
<link rel="stylesheet" href="~/Content/login.css" />

<div class="wrrapper-input" style="margin-left:auto; margin-right:auto; margin-top:20px">
    <div class="wrrapper-input_inner info-sign-up-in">
        <div class="input-header flex-center">
            <div class="flex-center desc-input_header">
                <div class="input-header_text">Đăng nhập</div>
            </div>
        </div>
        <div class="input-info">
            @using (Html.BeginForm("Login", "QUAN_TRI", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="input-info_wrrapper-user info-account">
                    <div class="info-inner flex-center">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-label", placeholder = "Tên đăng nhập", style = "max-width:340px;" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "form-message" })
                </div>

                <div class="input-info_wrrapper-user info-password">
                    <div class="info-inner flex-center">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-label", placeholder = "Mật khẩu", style = "max-width:340px;" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "form-message" })
                </div>

                <button type="submit" class="submit flex-center size-submit">Đăng nhập</button>
            }


            <div class="input-help flex-center">
                <a href="#" class="help-sign-up">Quên mật khẩu</a>
            </div>
        </div>
    </div>
</div>
