@model LEVINHHUY_K22CNT1_2210900106_PROJECT2.Models.DON_HANG

@{
    ViewBag.Title = "Edit";
    List<LEVINHHUY_K22CNT1_2210900106_PROJECT2.ModelView.DH_ChiTiet> chiTiet = ViewBag.donHangChiTiet as List<LEVINHHUY_K22CNT1_2210900106_PROJECT2.ModelView.DH_ChiTiet>;
}

<h2>Thông tin đơn hàng</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        <label class="control-label col-md-2">Mã đơn hàng:</label>
        <div class="col-md-10">
            <span>@Model.MaDH</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Ngày đặt:</label>
        <div class="col-md-10">
            <span>@Model.Ngay_dat.ToString("dd/MM/yyyy")</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Người nhận:</label>
        <div class="col-md-10">
            <span>@Model.Ten_Nguoi_Nhan</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Địa chỉ nhận:</label>
        <div class="col-md-10">
            <span>@Model.Dia_Chi_Nhan</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Điện thoại nhận:</label>
        <div class="col-md-10">
            <span>@Model.Dien_Thoai_Nhan</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Tổng tiền:</label>
        <div class="col-md-10">
            <span>@Model.Tong_tien</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Trạng thái hóa đơn:</label>
        <div class="col-md-10">
            <select class="form-control" name="Trang_thai">
                <option value="0" @{if (Model.Trang_thai == 0) {<text>selected </text>; }}>Chờ xử lý</option>
                <option value="1" @{if (Model.Trang_thai == 1) {<text>selected </text>; }}>Đang xử lý</option>
                <option value="2" @{if (Model.Trang_thai == 2) {<text>selected </text>; }}>Đã Hoàn Thành</option>

            </select>
        </div>
    </div>

    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cập nhật đơn hàng" class="btn btn-success" />
        </div>
    </div>
</div>
}

<h2>Chi tiết đơn hàng đặt mua</h2>
<table class="table">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Tên sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in chiTiet)
        {
            <tr>

                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Image</td>
                <td>@item.Price</td>
                <td>
                    @item.Quantity
                </td>
                <td>@item.Total</td>
                
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
