@model IEnumerable<LEVINHHUY_K22CNT1_2210900106_PROJECT2.Models.SAN_PHAM>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/SanPham.css" rel="stylesheet" />
<h2>Danh Sách Sản Phẩm</h2>

<p>
    @Html.ActionLink("Tạo Mới", "Create", null, new { @class = "btn btn-primary" })
</p>

<!-- Áp dụng kiểu layout cho danh sách sản phẩm -->
<div class="product-grid-style">
    @foreach (var item in Model)
    {
        <div class="product-details">
            <div class="product-img">
                <!-- Hiển thị ảnh sản phẩm -->
                <img src="@Url.Content("~/Content/images/" + item.Image)" alt="@item.Name" />
            </div>
            <div class="product-info">
                <a href="#">@item.Name</a> <!-- Tên sản phẩm -->
                <p class="price">@String.Format("{0:C}", item.Price)</p> <!-- Giá sản phẩm -->
                <p>Số lượng: @item.Quantity</p> <!-- Số lượng sản phẩm -->
                <p>Trạng thái: @item.Status</p> <!-- Trạng thái sản phẩm -->
            </div>
            <div class="product-actions">
                <a href="/Cart/AddToCart?id=@item.ID&name=@item.Name&image=@item.Image&price=@item.Price&quantity=1" class="btn-mua">Mua</a>

            </div>
        </div>
    }
</div>

